// Colors
$color-black: #080707;
$color-beige: #fdf0d5;
$color-maroon: #780000;
$color-red: #c1121f;
$color-dark-blue: #003049;
$color-sky-blue: #669bbc;

// Font Familes
$font-primary: "Nunito", sans-serif;

// Breakpoints
$screen-sm: 40rem;
$screen-md: 48rem;
$screen-lg: 64rem;
$screen-xl: 75.5rem;
